.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    padding: 4vh;
    color: aliceblue;
    font-family: sans-serif;
    font-weight:300;
    background-color: #150D3A;

}

.dropdown{
    width: 25vw;
    margin: 0 10vw;
    color:black;
    height: auto;
}

.date{
    width:25vw;
}

.selectors:hover {
    border-color: rgb(240, 11, 221);
    
}

body{
    color:rgb(2, 2, 2);
}

.selectors{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.selection{
    width:180px;
    text-align:center;
    padding:10px 0;
    background:#8A12FF;
    border-radius:25px;
    color:white;
    font-size:16px;
    font-weight:500;

    margin-left:10vw;  
}

.range{
    width:180px;
    text-align:center;
    padding:10px 0;
    background:#8A12FF;
    border-radius:25px;
    color:white;
    font-size:16px;
    font-weight:500;

    margin-left:38vw;   
}

.tools{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15vw;
    margin:10px
}

.tools:hover{
    border-color: #8A12FF;

}

.line{
     border:1px solid #ccc;
     margin:50px 8vw;

}

.graphc-1{
    background:white;
    border-radius:12px;
    padding:20px;
    margin:30px 8vw;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:all 0.3s ease;
}

.graphc-1:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.kpi-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 2rem 8vw;
    
}

.kpi-card{
    flex:1;
    min-width:7rem;
    padding:0.5rem;
    border-radius:0.75rem;
    background-color: #8A12FF;
    color:aliceblue;
    text-align: center;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);

}

.dashboard-row{
    display:flex;
    gap:25px;
    margin-top:20px;
    align-items:flex-start;
}

.graph-container{
    flex:3;
}

.summary-container{
    flex:1;
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    min-height:75vh;
}


/* Readings */
.summary-container{
    background:white;
    border-radius:16px;
    padding:18px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
    width:100%;
}

.summary-title{
    text-align:center;
    color:#24134d;
    font-size:20px;
    margin-bottom:15px;
}

.summary-card{
    padding:10px 14px;
    margin-bottom:12px;
    border-radius:10px;
}

.summary-card h4{
    margin:0;
    font-size:16px;
}

.summary-card h3{
    margin-top:5px;
    margin-bottom:0;
    font-size:18px;
}

.summary-card p{
    margin:5px 0 0 0;
    font-size:14px;
    line-height:1.4;
}

.positive{
    background:#e8f8ec;
    border-left:5px solid #2ecc71;
}

/* Negative */
.negative{
    background:#fdecec;
    border-left:5px solid #e74c3c;
}

/* Average */
.average{
    background:#f6f0ff;
    border-left:5px solid #8e44ad;
}

/* Insight */
.insight{
    background:#eef7ff;
    border-left:5px solid #3498db;
}